body{

  background-image: url("https://images.squarespace-cdn.com/content/5a42bc4cb7411cad318c1f12/1519743889222-5UG3U5E715D4ZLGAO54G/shutterstock_229497469.jpg?format=1000w&content-type=image%2Fjpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-attachment: fixed;
  
}

h1 {
  color: #161313;
  text-align: center;
  text-shadow: 4px 3px 0px #bb0f0f;
  color: #1d1835;
  font-size: 100px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);


}
.mainmenubtn{
  background-color: rgba(172, 16, 133, 0.678);
  color: rgb(247, 240, 240);
  font-style: oblique;
  font-size: xx-large;
  border-bottom: #0c0101;
  cursor: pointer;
  padding: 20px;
  margin-top: 50px;
}
.mainmenubtn:hover{
  background-color: rgb(139, 0, 93);
}
.dropdown{
  position: relative;
  display: inline-block;
}
.dropdown-child{
  display: none;
  background-color: rgb(172, 16, 133 0.678);
  min-width: 200px;
}
.dropdown-child a{
  color: rgb(10, 1, 1);
  font-style: oblique;
  font-size: xx-large;
  border-bottom: #000000;
  padding: 20px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-child{
  display: block;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#logo{
 margin: auto;
 height: 250px;
 width: 320px;
 text-align: center;
 

}

#logo h1{
  font-family: 'Pacifico', cursive;
  font-size: 58px;

}

nav{
height: 60px;
text-align: center;
}

nav ul{
 list-style: none;
 display: inline-block;
 padding:18px;
}

nav ul li{
  float: left;
  margin-top: 20px;
}

nav ul li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  padding: 18px;
}

nav ul li a:hover{
background-color: #929fb3;
}