body{

  background-image: url("https://image.freepik.com/vector-gratis/fondo-notas-musicales_23-2147634348.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-attachment: fixed;
  
}
