body{

  background-image: url("https://th.bing.com/th/id/R.d0d49640098440098bd35c16f9989b13?rik=zOLva9%2f%2b%2f6Tx0A&riu=http%3a%2f%2fwww.v3wall.com%2fwallpaper%2f1600_1200%2f1003%2f1600_1200_20100327124003212930.jpg&ehk=JEfvlhX5fLiZ67KqR4mpc4HQSZ2Rum4ZHhD0smabxsQ%3d&risl=&pid=ImgRaw&r=0");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-attachment: fixed;
  
  
}

h1 {
  color: #161313;
  text-align: center;
  text-shadow: 4px 3px 0px #bb0f0f;
  color: #1d1835;
  font-size: 100px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);


h2 {
  color: darkgreen;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  font-family: Arial, Helvetica, sans-serif;
}

.div-1 {
  width: 33%;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 15px 25px 10px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 0px 15px 25px 10px rgba(0,0,0,0);
  background: beige;
  margin-left: 10%;
  display: inline-block;
  border-radius: 10px;
  }

  .div-2 {
    width: 33%;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 15px 25px 10px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 15px 25px 10px rgba(0,0,0,0);
    background: beige;
    margin-left: 10%;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 25px;
    }

.div-3 {
    width: 33%;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 15px 25px 10px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 15px 25px 10px rgba(0,0,0,0);
    background: beige;
    margin-left: 10%;
    display: inline-block;
    border-radius: 10px;
}
.div-4 {
    width: 33%;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 15px 25px 10px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 15px 25px 10px rgba(0,0,0,0);
    background: beige;
    margin-left: 10%;
    display: inline-block;
    border-radius: 10px;
}

.div-5 {
    width: 33%;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 15px 25px 10px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 15px 25px 10px rgba(0,0,0,0);
    background: beige;
    margin-left: 10%;
    margin-top: 25px;
    display: inline-block;
    border-radius: 10px;
}

.div-6 {
    width: 33%;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 15px 25px 10px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 15px 25px 10px rgba(0,0,0,0);
    background: beige;
    margin-left: 10%;
    display: inline-block;
    border-radius: 10px;
}

.imagen{
    display:block;
margin:auto;
margin-left: 70px;
}


.mainmenubtn{
  background-color: rgba(172, 16, 133, 0.678);
  color: rgb(247, 240, 240);
  font-style: oblique;
  font-size: xx-large;
  border-bottom: #0c0101;
  cursor: pointer;
  padding: 20px;
  margin-top: 50px;
}
.mainmenubtn:hover{
  background-color: rgb(139, 0, 93);
}
.dropdown{
  position: relative;
  display: inline-block;
}
.dropdown-child{
  display: none;
  background-color: rgb(172, 16, 133 0.678);
  min-width: 200px;
}
.dropdown-child a{
  color: rgb(10, 1, 1);
  font-style: oblique;
  font-size: xx-large;
  border-bottom: #000000;
  padding: 20px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-child{
  display: block;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#logo{
 margin: auto;
 height: 250px;
 width: 320px;
 text-align: center;
 

}

#logo h1{
  font-family: 'Pacifico', cursive;
  font-size: 58px;
  

}

nav{
height: 60px;
text-align: center;
}

nav ul{
 list-style: none;
 display: inline-block;
 padding:18px;
}

nav ul li{
  float: left;
  margin-top: 20px;
}

nav ul li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  padding: 18px;
}

nav ul li a:hover{
background-color: #929fb3;
}